# SERVER
SERVER_PORT=5103
SERVER_SSL_ENABLED=true
SERVER_SSL_KEY_STORE=classpath:certs/keystore.p12
SERVER_SSL_KEY_STORE_PASSWORD=changeit
SERVER_SSL_KEY_STORE_TYPE=PKCS12
SERVER_SSL_KEY_ALIAS=bankpaymentplugin

# DATABASE
BANK_PLUGIN_DB_HOST=localhost
BANK_PLUGIN_DB_PORT=5437
BANK_PLUGIN_DB_NAME=sep_bank_plugin_db
BANK_PLUGIN_DB_USERNAME=user
BANK_PLUGIN_DB_PASSWORD=pass

# PSP
PSP_BASE_URL=https://localhost:5102
PSP_SYNC_PATH=/api/plugins/sync
PSP_CALLBACK_PATH=/api/payments/{paymentId}/plugin-callback

# PLUGIN
BANK_PLUGIN_BASE_URL=https://localhost:5103
BANK_PLUGIN_MANIFEST_PATH=manifest.json
BANK_PLUGIN_BANK_CALLBACK_URL=https://localhost:5103/api/plugin/payments/bank-callback

# BANK
BANK_BASE_URL=https://localhost:5104

# SECRETS
BANK_PLUGIN_PSP_SECRET=plg_bank_plugin_secret_for_local_dev_12345
BANK_PLUGIN_BANK_SECRET=bank_plugin_to_bank_secret_local_dev_12345
