# SERVER
SERVER_PORT=5102
SERVER_SSL_ENABLED=true
SERVER_SSL_KEY_STORE=classpath:certs/keystore.p12
SERVER_SSL_KEY_STORE_PASSWORD=changeit
SERVER_SSL_KEY_STORE_TYPE=PKCS12
SERVER_SSL_KEY_ALIAS=pspbackend

# JWT
JWT_SECRET_KEY=change-me-local-development-secret

# PSP POSTGRES
DB_PORT=5435
DB_NAME=sep-psp-db
DB_USERNAME=user
DB_PASSWORD=pass

# GENERATOR
MERCHANT_ID_PREFIX=MER-
MERCHANT_ID_LENGTH=8
MERCHANT_PASSWORD_PREFIX=psp_
MERCHANT_PASSWORD_LENGTH=32
PLUGIN_SECRET_PREFIX=plg_
PLUGIN_SECRET_LENGTH=32
UPPER_ALPHABET=ABCDEFGHJKLMNPQRSTUVWXYZ23456789
LOWER_ALPHABET=abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789

# ENCRYPTION
PLUGIN_SECRET_ENCRYPTION_KEY_BASE64=MDEyMzQ1Njc4OWFiY2RlZjAxMjM0NTY3ODlhYmNkZWY=

# HEALTH CHECK
PLUGIN_HEALTH_CHECK_RATE_MS=3000

# PAYMENT SCHEDULER
PAYMENT_CREATED_EXPIRATION_MINUTES=15

# OTHER
PSP_PAYMENT_PAGE_BASE_URL=https://localhost:3000/payment
PSP_BACKEND_BASE_URL=https://localhost:5102

# RABBITMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_PAYMENT_NOTIFICATIONS_EXCHANGE=psp.payment.notifications.exchange
RABBITMQ_PAYMENT_NOTIFICATIONS_ROUTING_KEY_TEMPLATE=merchant.%s.payment.result
